# Python
__pycache__/
*.py[cod]
*$py.class

# Environnement / Config
data/*.db
data/*.db-*
data/*.sqlite
data/*.db-journal
data/*.tmp
data/*.json
data/*.bak
data/config.json

# Logs
log/
*.log
*.log.*

# IDE
.zed/
.vscode/
.idea/
/test_*.py
/tools/local/

# Rust
target/
**/target/
